<div class="anim-in-out anim-slide-below-fade">
    <div class="row admin-panels">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-group block-ui block-ui-anim-fade" block-ui="blockModal" aria-busy="false">
                <div class="panel-heading">
                    <span class="panel-icon"><i class="fa fa-file"></i></span>
                    <span class="panel-title"> Apostas </span>
                </div>
                <form name="vm.editForm" id="form-dados" class="form-horizontal" role="form" autocomplete="off" block-ui="blockForm">
                    <div class="col-md-12">
                        <div ng-class="vm.AlertClassDiv" ng-show="vm.AlertMessage.length > 0">
                            <span><i ng-class="vm.AlertClassI"></i> <strong> {{ vm.AlertMessage  }}</strong></span>
                        </div>
                    </div>
                    <br />
                    <div class="panel-body" style="border: none; text-align:center;">
                        <div class="row col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Digite os números e boa sorte! (Entre vírgula)</label>
                                    <input type="text" name="Numeros" class="form-control" ng-model="vm.Dados.numeros" required>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Nome do(s) Jogador(es). (Entre vírgula)</label>
                                    <input type="text" name="Jogadores" class="form-control" ng-model="vm.Dados.jogadores" required>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" style="margin-right: 13px" ng-click="vm.jogar();"><i class="fa fa-money"></i> Jogar!</button>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-success" style="margin-right: 13px" ng-click="vm.sortear();"><i class="fa fa-group"></i> Fazer o Sorteio!</button>
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:center;" ng-if="vm.sorteioGanhador != null">
                            <h1>Números Sorteados:</h1>
                            <h2>{{vm.sorteioGanhador.NumerosSorteados}}</h2>
                        </div>

                        <div class="col-md-12" style="margin-top:30px;" ng-if="vm.ganhadores.length > 0">
                            <h3>Aposta(s) Ganhadora(s)</h3>

                            <table class="table table-hover table-condensed table-striped" datatable="ng">
                                <thead>
                                    <tr class="primary">
                                        <th style="text-align:center;">Código do Jogo</th>
                                        <th style="text-align:center;">Jogador(res)</th>
                                        <th style="text-align:center;">Prêmio</th>
                                        <th style="text-align:center;">Valor</th>
                                        <th style="text-align:center;">Números</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.ganhadores">
                                        <td style="text-align:center;">{{ item.Jogo.IdJogo }} </td>
                                        <td style="text-align:center;">{{ item.Jogo.Jogadores }} </td>
                                        <td style="text-align:center;">{{ item.TipoPremio }} </td>
                                        <td style="text-align:center;">{{ item.ValorPremio }} </td>
                                        <td style="text-align:center;">{{ item.Jogo.Numeros }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12" style="margin-top:30px;">
                            <div class="alert alert-primary" ng-if="vm.ganhadores.length == 0">
                                <span><i class="fa fa-exclamation-triangle"></i> <strong> Não houve ganhador.</strong></span>
                            </div>
                        </div>
                        
                        <div class="col-md-12" style="margin-top:30px;">
                            <h3>Lista de Jogos da Mega Sena</h3>
                            <table class="table table-hover table-condensed table-striped" datatable="ng">
                                <thead>
                                    <tr class="primary">
                                        <th style="text-align:center;">Código do Jogo</th>
                                        <th style="text-align:center;">Numeros</th>
                                        <th style="text-align:center;">Jogadores</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in vm.listaJogos">
                                        <td style="text-align:center;">{{ item.IdJogo }} </td>
                                        <td style="text-align:center;">{{ item.Numeros }} </td>
                                        <td style="text-align:center;">{{ item.Jogadores }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form> <!-- fim painel body -->
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>